<div class="container">

	<h1>Log In</h1>

	<%= render 'form' %>

	<% if flash[:alert]%>
	<p style="color:red"><%= flash[:alert] %></p>
	<% end %>

	<%= link_to 'Don\'t have an account yet?', sign_up_path %>



</div>