<div class="img_container">

<img class="banner" src="http://whatweekly.com/wp-content/uploads/2012/08/betamorelogo.jpg"/>

</div>

<div class="container">

<div style="font-size:20px">Find out when we go live:</div>

<div style="float: right"><%= render 'form' %></div>

