<div id="container">

		<!-- row 1 -->
		<div class="box"><img class="box-image" src="http://pjb3.github.io/betastore/products/hat.jpg"/><a class="box-text" href=#>Hat</a></div>
		<div class="box"><img class="box-image" src="http://pjb3.github.io/betastore/products/hoodie.jpg"/><a class="box-text" href=#>Hoodie</a></div> 
		<div class="box"><img class="box-image" src="http://pjb3.github.io/betastore/products/iphone_case.jpg"/><a class="box-text" href=#>iPhone Case</a></div> 

		<div style="clear: both"></div>

		<!-- row 2 -->
		<div class="box"><img class="box-image" src="http://pjb3.github.io/betastore/products/journal.jpg"/><a class="box-text" href=#>Journal</a></div> 
		<div class="box"><img class="box-image" src="http://pjb3.github.io/betastore/products/shirt.jpg"/><a class="box-text" href=#>Shirt</a></div> 
		<div class ="box"><img class= "box-image" src="http://pjb3.github.io/betastore/products/sticker.jpg"/><a class="box-text" href=#>Sticker</a></div> 

</div> 

