.box {
	height: 200px;
	width: 130px;
	float: left;
	text-align: center;
	font-size: 12px;
	font-family: 'Rationale', sans-serif;
	border-style: solid;
}

.box-image {
	height: 130px;
	width: 130px;
}

.box-text{
	color: black;
	text-decoration: none;
}

#container {
	height: 400px;
	width: 500px;
	margin: 0 auto;
}


