
	<% @products.each do |product| %>
	<div class="box">
		<img class="box-image" src="<%= product.url %>"/>
		<%= display_name_id(product) %>
		<%= display_edit_link(product) %>
		<%= display_delete_link(product) %>
	</div>
	<%end%>





